.fondoComprador {
    background-color: #01307d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logopequeno {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 120%;
    position: absolute;
}