.todo{
    background-color: #0053d8;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
    background-color: #0053d8;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top:5vh;
}

::selection {
    background: #d2acd2;
}
::-webkit-selection {
    background: #d2acd2;
}
::-moz-selection {
    background: #d2acd2;
}

button {
    font-size: 2em;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    font-family: 'Allerta Stencil', Monaco, Arial, 'Roboto', 'Oxygen', 'Helvetica Neue',
    sans-serif;
}

.boton-animado {
    margin-top: 20px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #AFC4FF;
    background-color:transparent;
    border-radius: 4px;
    transition: transform 0.55s ease-in-out;
}

.boton-animado:hover {
    transform: scale(1.3);
    color: #e645ff;
    background-color:transparent;
}

ul {
    display: flex;
    padding: 0;
}

li {
    margin: 0 20px;
    list-style: none;
    padding: 0;
}

.App-header {
    justify-content: space-between;
    color: #D7FAFF;
    font-size: 30px;
}

img {
    width: 40%;
    height: 40%;
}

h1 {
    font-size: 2em;
    color: white;
    /* font-family: cursive; */
}

.logo-log {
    text-align: center;
    display: block;
}

.area {
    background: #d800d8;
    background: -webkit-linear-gradient(right, #00368c, #ab0000);
    width: 100%;
    height:101vh;
}

.circles {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
